Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2020-08, with the labels that each got.

#125 Adapt the extension to Loki
  charts/gardener-extension-provider-gcp/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, needs/ok-to-test, platform/gcp, priority/normal

#146 Populate worker-configuration in machine deployment
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#147 Change default webhook server port to 10250
  charts/gardener-extension-admission-gcp/values.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#148 Nit: Fix example WorkerConfig in docs/usage-as-end-user.md
  docs/usage-as-end-user.md
Labels: area/documentation, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#151 Add loadbalancing RBAC for cloud-controller-manager
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/rbac-loadbalancing.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#152 Nit: Add chart objects
  pkg/controller/controlplane/valuesprovider.go
Labels: kind/task, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#153 Add PDB for admission server
  charts/gardener-extension-admission-gcp/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-admission-gcp/values.yaml
Labels: area/high-availability, area/robustness, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#154 Add namespaces/finalizers to extension RBAC role
  charts/gardener-extension-provider-gcp/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#155 Cleanup unused values from the gcp-infra chart
  charts/internal/gcp-infra/values.yaml
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#156 Recreate storage classes if update is failing
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
Labels: area/ops-productivity, area/robustness, area/storage, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm, topology/shoot

#158 Nit: Fix wrong example value for flowLogs.aggregationInterval
  charts/internal/gcp-infra/templates/main.tf
  docs/usage-as-end-user.md
  example/30-infrastructure.yaml
Labels: area/documentation, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#162 Vendor gardener/gardener@v1.9.0
  go.mod
  go.sum
  pkg/apis/gcp/validation/cloudprofile.go
  pkg/apis/gcp/validation/cloudprofile_test.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/helper/helpers.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/utils.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/controllerregistration.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/types.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kube_apiserver_service.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/dns/dnsentry.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/dns/dnsprovider.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/network/network.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/monitoring.go
  vendor/github.com/gardener/gardener/pkg/operation/common/extensions.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shootsecrets/secrets_manager.go
  vendor/github.com/gardener/gardener/pkg/scheduler/controller/shoot/scheduler_control.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/infodata.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/types.go
  vendor/github.com/gardener/gardener/pkg/utils/random.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/control_plane.go
  vendor/github.com/gardener/gardener/test/framework/cleanup.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal

#161 Add infrastructure permissions docs
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#159 Add integration test for infrastructure controller
  .test-defs/infrastructure-test.yaml
  Makefile
  go.mod
  pkg/internal/client/client.go
  test/integration/infrastructure/infrastructure_suite_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/infrastructure/matchers.go
  vendor/github.com/onsi/gomega/gbytes/buffer.go
  vendor/github.com/onsi/gomega/gbytes/io_wrappers.go
  vendor/github.com/onsi/gomega/gbytes/say_matcher.go
  vendor/github.com/onsi/gomega/gexec/build.go
  vendor/github.com/onsi/gomega/gexec/exit_matcher.go
  vendor/github.com/onsi/gomega/gexec/prefixed_writer.go
  vendor/github.com/onsi/gomega/gexec/session.go
  vendor/google.golang.org/api/iam/v1/iam-api.json
  vendor/google.golang.org/api/iam/v1/iam-gen.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/crd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/helper.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/server.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/webhook.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/.gitignore
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/README.md
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/addr/manager.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/apiserver.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/control_plane.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/etcd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/apiserver.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/arguments.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/bin_path_finder.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/etcd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/process.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/tinyca.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/kubectl.go
Labels: area/dev-productivity, kind/test, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#163 Update kubernetes-sigs/gcp-compute-persistent-disk-csi-driver to v1.0.0
  charts/images.yaml
Labels: area/storage, kind/task, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm
