Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2020-07, with the labels that each got.

#128 [ci:component:github.com/gardener/machine-controller-manager:v0.31.0->v0.32.0]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#108 Add service account to WorkerConfig
  docs/usage-as-end-user.md
  example/30-worker.yaml
  hack/api-reference/api.md
  pkg/apis/gcp/types_worker.go
  pkg/apis/gcp/v1alpha1/types_worker.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/shoot_test.go
  pkg/apis/gcp/validation/worker.go
  pkg/apis/gcp/validation/worker_test.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/security, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#112 Add validation for cloud provider Secrets
  charts/gardener-extension-admission-gcp/charts/application/templates/validatingwebhook-validator.yaml
  cmd/gardener-extension-admission-gcp/app/app.go
  docs/local-setup.md
  example/40-validatingwebhookconfiguration.yaml
  example/admission-gcp-certs/tls.crt
  example/admission-gcp-certs/tls.key
  hack/dev-setup-admission-gcp.sh
  pkg/admission/cmd/options.go
  pkg/admission/validator/secret.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/webhook.go
  pkg/apis/gcp/validation/secret.go
  pkg/apis/gcp/validation/secret_test.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/index/index.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/secret.go
  vendor/modules.txt
Labels: area/ops-productivity, area/robustness, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm, reviewed/ok-to-test

#129 Allow Masquerading even for reserved ranges
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/daemonset.yaml
Labels: area/networking, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#130 Fix whitespace issue in webhook manifest
  charts/gardener-extension-admission-gcp/charts/application/templates/validatingwebhook-validator.yaml
Labels: kind/bug, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm, size/xs

#131 Move serviceaccount funcs from pkg/internal to pkg/gcp
  charts/gardener-extension-admission-gcp/charts/application/templates/rbac.yaml
  pkg/apis/gcp/validation/secret.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/worker/machines.go
  pkg/gcp/client/storage.go
  pkg/gcp/serviceaccount.go
  pkg/gcp/serviceaccount_test.go
  pkg/internal/infrastructure/infrastructure.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/internal/terraform.go
  pkg/internal/terraform_test.go
Labels: kind/bug, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#133 StorageClasses now allow volume expansion
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#136 Revert IPIP tunnel removal
  charts/images.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/Chart.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/psp/clusterrole.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/psp/podsecuritypolicy.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/psp/rolebinding.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/serviceaccount.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/values.yaml
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/gcp/types.go
  pkg/webhook/network/add.go
  pkg/webhook/network/mutate.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/install/install.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/helper/decode.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/mutator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/network.go
  vendor/modules.txt
Labels: area/networking, needs/ok-to-test, platform/gcp, priority/critical, reviewed/lgtm

#137 [rel-v1.8] Revert IPIP tunnel removal
  charts/images.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/Chart.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/psp/clusterrole.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/psp/podsecuritypolicy.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/psp/rolebinding.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/serviceaccount.yaml
  charts/internal/shoot-system-components/charts/ip-masq-agent/values.yaml
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/gcp/types.go
  pkg/webhook/network/add.go
  pkg/webhook/network/mutate.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/install/install.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/helper/decode.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/mutator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/network.go
  vendor/modules.txt
Labels: area/networking, needs/ok-to-test, platform/gcp, priority/critical

#138 Remove leftovers from #136
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/daemonset.yaml
  docs/usage-as-end-user.md
Labels: area/usability, kind/bug, kind/cleanup, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm

#139 [rel-v1.8] Remove leftovers from #136
  charts/internal/shoot-system-components/charts/ip-masq-agent/templates/daemonset.yaml
  docs/usage-as-end-user.md
Labels: area/usability, kind/bug, kind/cleanup, needs/ok-to-test, platform/gcp, priority/normal

#135 create default VolumeSnapshotClass if kubernetes version >= 1.18
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm

#142 Upgrade github.com/gardener/cloud-provider-gcp
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm
