Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2021-11, with the labels that each got.

#344 Add Kubernetes v1.22 conformance badge
  README.md
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing

#348 Add docforge manifest
  .docforge/manifest.yaml
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/lgtm, needs/review, platform/gcp, size/xs

#349 Improve the error message when a required part of webhookConfig is missing
  charts/gardener-extension-admission-gcp/charts/application/templates/validatingwebhook-validator.yaml
  charts/gardener-extension-admission-gcp/charts/runtime/templates/secret-cert.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#350 Enable specifying prefixed zone names in `DNSRecord` `spec.zone`
  pkg/gcp/client/dns.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#341 Updated cluster creation tutorial
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/_index.md
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/copy_kubeconfig.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/create_cluster4.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gardeneraddgcpsecret.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gardenergcpsecret01.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gardenergcpsecret1.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gardenergcpsecret2.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gcpcomputeengineapi.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gcpcreatecluster1.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gcpcreatecluster2.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gcpcreatecluster3.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gcpcreatekey.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gcpcreateserviceaccount0.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gcpcreateserviceaccount1.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gcpdownloadkey.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/gcpiamapi.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/help_icon.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/new_cluster.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/new_gardener_project.jpg
  docs/tutorials/kubernetes-cluster-in-gcp-with-gardener/images/plus_icon.jpg
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/_index.md
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/add-gcp-secret.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/copy-icon.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/copy-kubeconfig.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/create-cluster.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/create-secret-gcp.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gardener-gcp-secret-1.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gardener-gcp-secret-2.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gcp-compute-engine-api.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gcp-create-key-0.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gcp-create-key-1.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gcp-create-key-2.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gcp-create-key-3.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gcp-create-service-account-0.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gcp-create-service-account-1.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/gcp-iam-api.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/help-icon.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/new-cluster.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/new-gardener-project.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/plus-icon.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/processing-cluster.png
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/images/secret-stored.png
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m, merge/squash

#352 Make admission check of min worker pool and number of zones backward compatible
  pkg/apis/gcp/validation/shoot.go
  pkg/apis/gcp/validation/shoot_test.go
Labels: area/ops-productivity, area/quality, area/robustness, area/usability, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m, merge/squash

#354 [release-v1.19] Automated cherry pick of #336: Slightly clarify shoot.worker validation error #352: Make admission check of min worker pool and number of zones backward compatible
  pkg/admission/validator/shoot.go
  pkg/apis/gcp/validation/shoot.go
  pkg/apis/gcp/validation/shoot_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m
