Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2021-01, with the labels that each got.

#227 Use provider-specific terraformer image
  charts/images.yaml
Labels: area/cost, area/performance, kind/enhancement, kind/test, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm, size/xs

#222 update mcm and use worker secret ref. for the machine class credentialsSecretRef
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  go.mod
  go.sum
  pkg/controller/worker/machine_controller_manager.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/alicoud_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/aws_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/azure_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/gcp_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/machine_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/openstack_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/packet_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm, size/m

#229 Add k8s 1.20 conformance tests (testgrid) links
  README.md
Labels: area/testing, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm, size/xs

#230 Change ValidatingWebhookConfiguration to v1
  charts/gardener-extension-admission-gcp/charts/application/templates/validatingwebhook-validator.yaml
  example/40-validatingwebhookconfiguration.yaml
  example/admission-gcp-certs/tls.crt
  example/admission-gcp-certs/tls.key
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm, size/m
