Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2021-12, with the labels that each got.

#360 Remove GCPMachineClass cleanup
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#363 Prevent nil pointer dereference in admission-gcp
  pkg/apis/gcp/validation/infrastructure.go
  pkg/apis/gcp/validation/infrastructure_test.go
Labels: area/quality, kind/regression, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#345 Upgrade terraformer to v2.13.0, a version that uses terraform 0.13
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, kind/test, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#367 Remove the "garden.sapcloud.io/role" label from control plane components
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller.yaml
Labels: kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs
