Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2021-09, with the labels that each got.

#322 Nit: Clean up "SKIP_FETCH_TOOLS=1" from Makefile
  Makefile
Labels: needs/ok-to-test, needs/review, size/xs

#324 Replace golint linter by revive
  .golangci.yaml
  test/integration/infrastructure/infrastructure_test.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#326 Update revive config to match other extensions
  .golangci.yaml
Labels: area/dev-productivity, area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#327 Do not set image source for data disk
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, area/os

#331 Fix config validation of NAT IP addresses
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/mock/mocks.go
Labels: area/networking, kind/bug, kind/test, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m, needs/cherry-pick

#332 [release-v1.19] Automated cherry pick of #331: Fix config validation of NAT IP addresses
  pkg/controller/infrastructure/configvalidator.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/mock/mocks.go
Labels: area/networking, kind/bug, kind/test, needs/ok-to-test, reviewed/lgtm, size/m
