Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2022-07, with the labels that each got.

#458 update csi driver version
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#459 update go to 1.18
  .golangci.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/gcp, size/l

#451 Conditionally create serviceaccount and pass to mcm
  charts/gardener-extension-provider-gcp/templates/configmap.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  charts/internal/machineclass/templates/machineclass.yaml
  cmd/gardener-extension-provider-gcp/app/app.go
  cmd/gardener-extension-provider-gcp/main.go
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/controller/bastion/actuator.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/configvalidator_test.go
  pkg/controller/worker/machines.go
  pkg/features/features.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/dns.go
  pkg/gcp/client/errors.go
  pkg/gcp/client/factory.go
  pkg/gcp/client/iam.go
  pkg/gcp/client/mock/mocks.go
  pkg/gcp/client/storage.go
  pkg/gcp/serviceaccount.go
  pkg/gcp/serviceaccount_test.go
  pkg/gcp/types.go
  pkg/internal/infrastructure/infrastructure.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  test/integration/infrastructure/infrastructure_suite_test.go
  test/integration/infrastructure/infrastructure_test.go
  vendor/k8s.io/component-base/featuregate/OWNERS
  vendor/k8s.io/component-base/featuregate/feature_gate.go
  vendor/modules.txt
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, platform/gcp, size/xl

#463 Change default SC from HDD to SSD type
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#468 drop port 80 in firewall rule
  pkg/internal/infrastructure/templates/main.tpl.tf
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#464 Update v1.24 conformance test coverage
  README.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#471 Fix the Infrastructure integration test after #468
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, area/testing

#462 Adapt the priority according to the gardener guideline
  charts/gardener-extension-provider-gcp/templates/_helpers.tpl
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  charts/gardener-extension-provider-gcp/templates/priorityclass.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs
