Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2022-04, with the labels that each got.

#419 Move `Name` field to `ControlPlaneSecretConfig`
  pkg/controller/controlplane/valuesprovider.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#429 Fix incorrect validator deployment value
  charts/gardener-extension-admission-gcp/charts/runtime/templates/deployment.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#433 Removed scale-from-zero forbidding validation
  pkg/apis/gcp/validation/shoot.go
  pkg/apis/gcp/validation/worker_test.go
Labels: kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, area/auto-scaling
