Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2022-11, with the labels that each got.

#513 Add cve categorizations/runtime contexts
  charts/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m

#514 Update API Core version in examples to `core.gardener.cloud/v1beta1`
  README.md
  docs/usage-as-end-user.md
  example/30-controlplane.yaml
  example/30-dnsrecord.yaml
  example/30-infrastructure.yaml
  example/30-worker.yaml
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#512 Updated the guide on creating a cluster
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/kubernetes-cluster-on-gcp-with-gardener.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#497 bastion configvalidator
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/add.go
  pkg/controller/bastion/configvalidator.go
  pkg/controller/bastion/configvalidator_test.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/mock/mocks.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/l

#511 Forbidding empty natIPNames array
  pkg/apis/gcp/validation/infrastructure.go
  pkg/apis/gcp/validation/infrastructure_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s, merge/squash

#515 Cleanup scheduler.alpha.kubernetes.io/critical-pod annotations
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
Labels: area/open-source, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#517 add secret type validation
  pkg/admission/validator/secretbinding_test.go
  pkg/apis/gcp/validation/secret.go
  pkg/apis/gcp/validation/secret_test.go
  pkg/apis/gcp/validation/worker.go
  pkg/gcp/serviceaccount.go
  pkg/gcp/serviceaccount_test.go
  pkg/gcp/types.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, reviewed/ok-to-test, size/s

#505 support switching of network overlay mode
  charts/gardener-extension-admission-gcp/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-gcp/charts/application/templates/rbac.yaml
  docs/usage-as-end-user.md
  example/50-mutatingwebhookconfiguration.yaml
  go.mod
  go.sum
  pkg/admission/cmd/options.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/webhook.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m

#520 Revert "Add private google access flag (#489)"
  hack/api-reference/api.md
  pkg/apis/gcp/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/technical-debt, kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, platform/gcp, size/s

#523 Do not fail a request for a Shoot from the core.gardener.cloud/v1alpha1 API
  charts/gardener-extension-admission-gcp/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-gcp/charts/application/templates/rbac.yaml
  example/50-mutatingwebhookconfiguration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#524 If machine image architecture is nil consider its architecture amd64
  pkg/apis/gcp/helper/helper.go
  pkg/apis/gcp/helper/helper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#525 mutating webhook respects shoot deletion, restore and migration
  pkg/admission/mutator/mutator_suite_test.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m

#527 [release-v1.26] Automated cherry pick of #524: If machine image architecture is nil consider its architecture amd64
  pkg/apis/gcp/helper/helper.go
  pkg/apis/gcp/helper/helper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#526 [release-v1.26] Automated cherry pick of #523: Do not fail a request for a Shoot from the core.gardener.cloud/v1alpha1 API
  charts/gardener-extension-admission-gcp/charts/application/templates/mutatingwebhook-mutator.yaml
  charts/gardener-extension-admission-gcp/charts/application/templates/rbac.yaml
  example/50-mutatingwebhookconfiguration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs
