Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2022-12, with the labels that each got.

#531 Update calico version to v1.27.1
  go.mod
  go.sum
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#535 Update k8s v1.25 conformance test coverage
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, reviewed/lgtm, size/xs

#536 fix buckup bucket 404 blocking deletion
  pkg/gcp/client/errors.go
  pkg/gcp/client/storage.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#537 skip network mutation on equal shoot specs
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#538 downgrade csi driver
  charts/images.yaml
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#539 Check for existing GCP service account using TF state
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/infraflow/shared/tf_state.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m

#522 disable network overlay for cilium by default and add tests
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/mutator/webhook.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/types.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m
