Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2022-03, with the labels that each got.

#403 Allow projected volumes in PSP
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: area/security, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, priority/1, needs/cherry-pick

#404 [release-v1.21] Automated cherry pick of #403: Allow projected volumes in PSP
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#397 Add object selector for provider type in the `gardener-extension-admission-gcp` webhook
  charts/gardener-extension-admission-gcp/charts/application/templates/validatingwebhook-validator.yaml
  charts/gardener-extension-admission-gcp/values.yaml
  example/40-validatingwebhookconfiguration.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#408 Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#409 [release-v1.21] Automated cherry pick of #408: Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/xs

#401 Replace -ginkgo.noColor with -ginkgo.no-color
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#396 admission-gcp: Adapt Secrets webhook to rely on the provider label
  charts/gardener-extension-admission-gcp/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-gcp/charts/application/templates/validatingwebhook-validator.yaml
  cmd/gardener-extension-admission-gcp/app/app.go
  example/40-validatingwebhookconfiguration.yaml
  pkg/admission/validator/secret.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/index/index.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/secret.go
  vendor/modules.txt
Labels: area/cost, area/robustness, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#413 Add ready check for webhook server
  charts/gardener-extension-admission-gcp/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-gcp/values.yaml
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  cmd/gardener-extension-admission-gcp/app/app.go
  cmd/gardener-extension-provider-gcp/app/app.go
  example/controller-registration.yaml
  vendor/github.com/gardener/gardener/pkg/healthz/default.go
  vendor/github.com/gardener/gardener/pkg/healthz/healthz.go
  vendor/github.com/gardener/gardener/pkg/healthz/informer.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#414 Add --version flag for components
  .dockerignore
  Makefile
  cmd/gardener-extension-admission-gcp/app/app.go
  cmd/gardener-extension-provider-gcp/app/app.go
  vendor/k8s.io/component-base/version/verflag/verflag.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
