Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2022-08, with the labels that each got.

#474 run shoot cluster without overlay if not explicitly specified
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/webhook/network/add.go
  pkg/webhook/network/mutate.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/install/install.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/helper/decode.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/mutator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/network.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m

#457 Adjust metric name due to upgrading the kube-state-metrics component
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, reviewed/do-not-merge, size/xs

#473 allow infrastructure communication in pod range
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#483 Update CSI driver to v1.7.3
  charts/images.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#460 Update various kubernetes-csi images
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xl

#486 [GEP-20] Change StorageClass to WaitForFirstConsumer
  charts/gardener-extension-provider-gcp/templates/storageclass.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  example/controller-registration.yaml
Labels: needs/ok-to-test

#482 Don't deploy `PSP`s when `PodSecurityPolicy` plugin is disabled
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/open-source, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s, merge/squash
