Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2022-09, with the labels that each got.

#477 Add arm support
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/gcp/helper/helper.go
  pkg/apis/gcp/helper/helper_test.go
  pkg/apis/gcp/types_cloudprofile.go
  pkg/apis/gcp/types_worker.go
  pkg/apis/gcp/v1alpha1/defaults.go
  pkg/apis/gcp/v1alpha1/defaults_test.go
  pkg/apis/gcp/v1alpha1/types_cloudprofile.go
  pkg/apis/gcp/v1alpha1/types_worker.go
  pkg/apis/gcp/v1alpha1/v1alpha1_suite_test.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/v1alpha1/zz_generated.defaults.go
  pkg/apis/gcp/validation/cloudprofile.go
  pkg/apis/gcp/validation/cloudprofile_test.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/delivery, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/m

#481 Set seccomp profile to RuntimeDefault for csi-driver-node
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#467 Adjusts VPA maxAllowed settings for MCM and CSI driver controller
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m, area/auto-scaling

#493 Removes support for Кubernetes < 1.17 for GCP extension provider
  README.md
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  example/10-fake-shoot-controlplane.yaml
  example/30-controlplane.yaml
  example/30-worker.yaml
  hack/api-reference/api.json
  hack/api-reference/config.json
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/quality, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m

#500 [release-v1.25] Automated cherry pick of #499: Revert "run shoot cluster without overlay if not explicitly specified"
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/webhook/network/add.go
  pkg/webhook/network/mutate.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/install/install.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/helper/decode.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/mutator.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/network/network.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m
