Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2022-10, with the labels that each got.

#492 Correct the metricsPort check for admission-gcp deployment
  charts/gardener-extension-admission-gcp/charts/runtime/templates/deployment.yaml
Labels: kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#491 update go version to 1.19
  Dockerfile
  Makefile
  go.mod
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#504 update test definitions
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-gcp.yaml
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#498 Support for Kubernetes v1.25
  README.md
  charts/gardener-extension-admission-gcp/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-provider-gcp/templates/poddisruptionbudget.yaml
  charts/images.yaml
  example/controller-registration.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, topology/garden, topology/seed, topology/shoot, merge/squash

#506 Blocking project wide ssh keys while creating machine class
  charts/internal/machineclass/values.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#507 Set priority class for `csi-snapshot-validation`
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#489 Add private google access flag
  hack/api-reference/api.md
  pkg/apis/gcp/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/gcp, size/s

#509 Cover Infrastructure creation with multiple NAT IP names
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/test, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m, area/testing
