Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2023-04, with the labels that each got.

#583 Improve EIM Docs
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/apis/gcp/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/types_infrastructure.go
Labels: area/documentation, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#582 Make the `gardener-extension-admission-gcp` Service topology-aware
  charts/gardener-extension-admission-gcp/charts/runtime/templates/service.yaml
  charts/gardener-extension-admission-gcp/values.yaml
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#568 enhance os image search
  pkg/controller/bastion/actuator_reconcile.go
  pkg/internal/client/client.go
  pkg/internal/client/types.go
  pkg/internal/mock/client/mocks.go
  test/integration/bastion/bastion_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m

#585 Remove out-of-support flags from deployment Yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
Labels: area/usability, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs
