Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2023-07, with the labels that each got.

#629 Introduce persona-based docs
  .docforge/manifest.yaml
  docs/development/local-setup.md
  docs/operations/deployment.md
  docs/operations/operations.md
  docs/usage/usage.md
Labels: kind/cleanup, needs/ok-to-test, needs/review, size/s

#624 Adapt to new `MachineControllerManagerDeployment` feature gate
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  cmd/gardener-extension-provider-gcp/app/app.go
  example/controller-registration.yaml
  pkg/controller/healthcheck/add.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/add.go
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/gomock.go
  vendor/github.com/gardener/gardener/pkg/utils/test/manager.go
  vendor/github.com/gardener/gardener/pkg/utils/test/options.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test_resources.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l

#631 Mitigate node condition NetworkUnavailable being set by node controller in a race with CNI
  charts/gardener-extension-provider-gcp/templates/service.yaml
  cmd/gardener-extension-provider-gcp/app/app.go
  example/controller-registration.yaml
  pkg/cmd/options.go
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/shoot/add.go
  pkg/webhook/shoot/mutator.go
  pkg/webhook/shoot/node_condition_mutator.go
  pkg/webhook/shoot/node_condition_mutator_test.go
  pkg/webhook/shoot/shoot_suite_test.go
Labels: area/networking, area/robustness, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m, area/scalability
