Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2023-02, with the labels that each got.

#534 Use provider specific regex to parse error codes from error
  pkg/apis/gcp/helper/error_codes.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupentry/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m

#548 Update CSI dependencies to latest releases
  charts/images.yaml
Labels: area/control-plane, kind/task, needs/ok-to-test, needs/review, platform/gcp, size/xs

#545 Add Fluent Operator resources
  charts/gardener-extension-provider-gcp/templates/clusterfilters-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#549 allow node expansion
  pkg/apis/gcp/validation/infrastructure.go
  pkg/apis/gcp/validation/infrastructure_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#553 Fix flapping snapshot.storage.k8s.io CRDs
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshots.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xl

#554 [release-v1.27] Automated cherry pick of #553: Fix flapping snapshot.storage.k8s.io CRDs
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshots.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xl

#555 Mark csi-driver-node as node-critical component
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#563 Remove minAllowed.cpu for all components
  charts/gardener-extension-admission-gcp/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-gcp/values.yaml
  charts/gardener-extension-provider-gcp/templates/vpa.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, area/auto-scaling
