Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2023-06, with the labels that each got.

#608 Update csi-driver to v1.9.5
  charts/images.yaml
Labels: needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#609 [release-v1.29] Automated cherry pick of #608: Update csi-driver to v1.9.5
  charts/images.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#611 Revert "Update csi-driver to v1.9.5"
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#607 Support for CMEK disk encryption of vols
  charts/internal/machineclass/values.yaml
  docs/usage-as-end-user.md
  example/30-worker.yaml
  hack/api-reference/api.md
  pkg/apis/gcp/types_worker.go
  pkg/apis/gcp/v1alpha1/types_worker.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/worker.go
  pkg/apis/gcp/validation/worker_test.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
Labels: area/security, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/l

#613 always configure cloud-routes
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#619 Update csi-driver to v1.9.5
  charts/images.yaml
Labels: area/storage, kind/bug, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#620 [release-v1.29] Automated cherry pick of #619: Update csi-driver to v1.9.5
  charts/images.yaml
Labels: area/storage, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#616 Remove old and obsolate logging configuration
  charts/gardener-extension-provider-gcp/templates/clusterfilters-logging.yaml
  charts/gardener-extension-provider-gcp/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#618 Patch external-provisioner to 3.4.1
  charts/images.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#606 Clean up ignored volumesnapshot CRDs
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/crd-volumesnapshots.yaml
Labels: area/storage, kind/cleanup, needs/ok-to-test, needs/review, needs/second-opinion, platform/gcp, size/xl

#617 Improve CIDR validation message
  pkg/apis/gcp/validation/infrastructure.go
  pkg/apis/gcp/validation/infrastructure_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#622 Update golang to 1.20.5
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-gcp.yaml
  Dockerfile
Labels: kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, area/compliance

#626 [release-v1.30] Automated cherry pick of #622: Update golang to 1.20.5
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-gcp.yaml
  Dockerfile
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/compliance

#627 [release-v1.30] Automated cherry pick of #625: [ci:component:github.com/gardener/machine-controller-manager:v0.49.2->v0.49.3]
  charts/images.yaml
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#615 Support for Kubernetes v1.27
  README.md
  charts/images.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m, topology/garden, topology/seed, topology/shoot, merge/squash

#623 Drop code related to `APIServerSNI` feature gate
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m
