Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2023-01, with the labels that each got.

#546 Add cve runtime context for `mcm` and `mcm-provider-gcp`
  charts/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#543 Update golang to v1.19.4
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-gcp.yaml
  Dockerfile
Labels: kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#518 Enabled uniform access level for bucket creation in GCP.
  pkg/gcp/client/storage.go
Labels: needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#544 Support for Kubernetes v1.26
  README.md
  charts/images.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, topology/garden, topology/seed, topology/shoot, merge/squash

#533 Drop support for kubernetes < 1.20 for GCP extension provider
  README.md
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  charts/images.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-crds/values.yaml
  charts/internal/shoot-storageclasses/templates/_helpers.tpl
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
  charts/internal/shoot-storageclasses/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/values.yaml
  cmd/gardener-extension-provider-gcp/app/app.go
  docs/usage-as-end-user.md
  example/10-fake-shoot-controlplane.yaml
  example/controller-registration.yaml
  hack/api-reference/api.json
  hack/api-reference/config.json
  pkg/apis/gcp/validation/controlplane_test.go
  pkg/apis/gcp/validation/shoot.go
  pkg/apis/gcp/validation/shoot_test.go
  pkg/cmd/options.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/csimigration/add.go
  pkg/controller/healthcheck/add.go
  pkg/gcp/types.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/README.md
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/predicate.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/csimigration/utils.go
  vendor/modules.txt
Labels: area/open-source, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xl
