Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2024-10, with the labels that each got.

#854 remove min/max allowed
  charts/gardener-extension-admission-gcp/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-gcp/values.yaml
  charts/gardener-extension-provider-gcp/templates/vpa.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m

#853 [GEP-25] Enable Shoot cloudProfile reference as complement to cloudProfileName
  charts/gardener-extension-admission-gcp/charts/application/templates/rbac.yaml
  docs/usage/usage.md
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/gcp/helper/scheme.go
Labels: area/open-source, area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/s

#816 Update dependencies in images.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xl

#860 Update csi-validation-webhook and -rbac
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-provisioner.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csi-snapshot-validation-webhook.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#861 Downgrade gcp-compute-persistent-disk-csi-driver
  imagevector/images.yaml
Labels: area/control-plane, kind/impediment, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#863 missing error check while waiting operation
  pkg/gcp/client/compute.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/gcp, size/xs

#864 [release-v1.38] Automated cherry pick of #863: missing error check while waiting operation
  pkg/gcp/client/compute.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs

#868 Re-add missing changes from #556 back after they got lost in #651
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#867 Update ClusterRole CSI provisioner
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-provisioner.yaml
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, platform/gcp, size/xs

#873 [release-v1.39] Automated cherry pick of #872: default priority of firewall rules
  pkg/controller/infrastructure/infraflow/ensure_utils.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs

#877 check priority in firewall rule IT
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs, area/testing

#876 remove outdated external access rule
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#878 Enforce restriction with regards to IPv6 support
  pkg/admission/validator/shoot_test.go
  pkg/apis/gcp/validation/shoot.go
Labels: area/networking, area/robustness, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/m
