Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2024-06, with the labels that each got.

#773 fix issue with updating an existing router with custom router adverti…
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/updater.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#777 [release-v1.36] Automated cherry pick of #773: fix issue with updating an existing router with custom router adverti…
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/updater.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/s

#776 [release-v1.36] Automated cherry pick of #774: Fix indentation in CCM ServiceMonitor
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, needs/review, size/xs

#781 Fix bug in scheduling-determination
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#782 [release-v1.36] Fix bug in scheduling-determination
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#751 Data volume source image
  docs/usage/usage.md
  example/30-worker.yaml
  hack/api-reference/api.md
  pkg/apis/gcp/types_worker.go
  pkg/apis/gcp/v1alpha1/types_worker.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/worker.go
  pkg/apis/gcp/validation/worker_test.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
Labels: area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m

#725 Proposal: Data disk restore from Image
  docs/proposals/datadisk-image-restore.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#787 Replace occurrences of + in operating system labels for MachineClasses with _
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, platform/gcp, size/xs

#743 Support for hyperdisk params
  docs/usage/usage.md
  example/30-worker.yaml
  hack/api-reference/api.md
  pkg/apis/gcp/types_worker.go
  pkg/apis/gcp/v1alpha1/types_worker.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/shoot.go
  pkg/apis/gcp/validation/worker.go
  pkg/apis/gcp/validation/worker_test.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
Labels: area/quality, kind/api-change, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, needs/second-opinion, platform/gcp, size/m
