Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2024-03, with the labels that each got.

#707 rm meta-record deletion, update tests
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#709 Update Terraformer in v1.34
  imagevector/images.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#704 Add Kubernetes v1.29 conformance test badge
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#689 add machine images info to labels
  charts/internal/machineclass/templates/machineclass.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/xs

#710 Remove `source-` prefix from `BackupEntry` when performing deletion
  pkg/controller/backupentry/actuator.go
Labels: kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, area/control-plane-migration

#706 Add Support for Dynamic NAT
  docs/usage/usage.md
  hack/api-reference/api.md
  pkg/apis/gcp/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/infrastructure.go
  pkg/apis/gcp/validation/infrastructure_test.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/infrastructure/infraflow/ensure_utils.go
  pkg/gcp/client/updater.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/l

#711 Promote DisableGardenerServiceAccountCreation featuregate to beta
  charts/gardener-extension-provider-gcp/values.yaml
  docs/usage/usage.md
  example/controller-registration.yaml
  pkg/features/features.go
Labels: needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#677 Drop support for Shoots with Kubernetes version == 1.24
  README.md
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  docs/usage/usage.md
  example/10-fake-shoot-controlplane.yaml
  example/30-controlplane.yaml
  example/30-worker.yaml
  imagevector/images.yaml
  pkg/apis/gcp/validation/controlplane_test.go
  pkg/apis/gcp/validation/shoot_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m

#713 Fix erroneous assignments in infraflow
  pkg/controller/infrastructure/infraflow/ensure_utils.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#717 update golang for tests
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-gcp.yaml
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#718 Fix some typos
  docs/operations/deployment.md
  hack/api-reference/api.md
  pkg/apis/gcp/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/types_infrastructure.go
  pkg/gcp/client/errors.go
  test/integration/bastion/bastion_test.go
Labels: area/documentation, kind/api-change, kind/cleanup, needs/ok-to-test, needs/second-opinion, platform/gcp, reviewed/lgtm, size/xs

#720 Consider errors from configValidator for Gardener ErrorCodes
  pkg/controller/infrastructure/add.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs
