Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2024-12, with the labels that each got.

#862 Add support for VolumeAttributeClasses
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-resizer.yaml
  docs/usage/usage.md
  pkg/controller/controlplane/valuesprovider.go
  pkg/gcp/types.go
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#905 Adjustments for deploying extension on Garden runtime cluster by gardener-operator
  .ci/pipeline_definitions
  charts/gardener-extension-admission-gcp/.helmignore
  charts/gardener-extension-admission-gcp/Chart.yaml
  charts/gardener-extension-admission-gcp/charts/application/Chart.yaml
  charts/gardener-extension-admission-gcp/charts/application/templates/_helpers.tpl
  charts/gardener-extension-admission-gcp/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-gcp/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-admission-gcp/charts/application/values.yaml
  charts/gardener-extension-admission-gcp/charts/runtime/Chart.yaml
  charts/gardener-extension-admission-gcp/charts/runtime/templates/_helpers.tpl
  charts/gardener-extension-admission-gcp/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-gcp/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener-extension-admission-gcp/charts/runtime/templates/service.yaml
  charts/gardener-extension-admission-gcp/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-gcp/charts/runtime/values.yaml
  charts/gardener-extension-admission-gcp/templates/_helpers.tpl
  charts/gardener-extension-admission-gcp/values.yaml
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  charts/gardener-extension-provider-gcp/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-gcp/templates/rbac.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  cmd/gardener-extension-admission-gcp/app/app.go
  cmd/gardener-extension-provider-gcp/app/app.go
  example/controller-registration.yaml
  pkg/controller/backupbucket/add.go
  pkg/controller/dnsrecord/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/l

#885 Remove the provider type predicates in webhooks
  pkg/admission/mutator/webhook.go
  pkg/admission/validator/webhook.go
Labels: area/usability, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#917 Cleanup object selector version constraint
  cmd/gardener-extension-provider-gcp/app/app.go
  pkg/cmd/options.go
  pkg/webhook/controlplane/add.go
Labels: kind/cleanup, needs/ok-to-test, needs/review, platform/gcp, size/s

#911 csi-driver-node: set GOMAXPROCS
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
Labels: area/performance, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#897 Update golang versions
  .test-defs/apply-flow-gcp.yaml
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-gcp.yaml
  go.mod
Labels: area/usability, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#918 Add NamespacedCloudProfile validation and mutation webhooks
  pkg/admission/mutator/namespacedcloudprofile.go
  pkg/admission/mutator/namespacedcloudprofile_test.go
  pkg/admission/mutator/webhook.go
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/admission/validator/namespacedcloudprofile_test.go
  pkg/admission/validator/webhook.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/gcp, size/xl

#826 [GEP-27] Use cloud profile bastion machine and image
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/bastion_suite_test.go
  pkg/controller/bastion/options.go
  test/integration/bastion/bastion_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/gcp, size/l, platform/azure

#924 Fix bastion test
  test/integration/bastion/bastion_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, platform/gcp, size/xs

#928 Fixed broken links - 2024.12
  README.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#927 Update gardener to v1.110.0
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/shoot.go
  pkg/cmd/options.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/infrastructure/mutator.go
  pkg/webhook/shoot/mutator.go
  pkg/webhook/shoot/node_condition_mutator.go
  pkg/webhook/shoot/node_condition_mutator_test.go
Labels: area/usability, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/l

#906 Add support for Immutable backup buckets
  docs/usage/usage.md
  example/30-backupbucket.yaml
  hack/api-reference/api.md
  pkg/admission/admission_suite_test.go
  pkg/admission/decode.go
  pkg/admission/decode_test.go
  pkg/admission/validator/seed.go
  pkg/admission/validator/seed_test.go
  pkg/admission/validator/webhook.go
  pkg/apis/gcp/register.go
  pkg/apis/gcp/types_backupbucket.go
  pkg/apis/gcp/v1alpha1/register.go
  pkg/apis/gcp/v1alpha1/types_backupbucket.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/backupbucket.go
  pkg/apis/gcp/validation/backupbucket_test.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/actuator_test.go
  pkg/controller/backupbucket/add.go
  pkg/controller/backupbucket/backupbucket_suite_test.go
  pkg/gcp/client/mock/doc.go
  pkg/gcp/client/mock/mocks.go
  pkg/gcp/client/storage.go
Labels: area/backup, area/security, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xl

#929 Remove VPA for the csi-driver-node DaemonSet
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, area/auto-scaling
