Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2024-05, with the labels that each got.

#749 update csi driver
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#752 Expose egressCIDRs in provider status
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/controller/infrastructure/infraflow/ensure_utils.go
  pkg/controller/infrastructure/infraflow/reconciler.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#754 [GEP-19] Adapt monitoring configuration
  charts/gardener-extension-provider-gcp/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager-svc.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/configmap-observability.yaml
  cmd/gardener-extension-provider-gcp/app/app.go
  example/controller-registration.yaml
  go.mod
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/gcp/types.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#759 chore: Update Concourse URL
  README.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#765 Follow-up of https://github.com/gardener/gardener-extension-provider-gcp/pull/754
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, needs/review, platform/gcp, reviewed/lgtm, size/xs

#755 Support for Kubernetes v1.30
  README.md
  imagevector/images.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, topology/garden, topology/seed, topology/shoot, merge/squash

#762 Remove invalid CCM feature gate from the examples
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/usage/usage.md
  example/30-controlplane.yaml
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#761 controlplaneexposure-webhook: Don't do no-op mutations for Deployments
  pkg/webhook/controlplaneexposure/webhook.go
Labels: kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, area/scalability

#767 Read new `.spec.pools[].userDataSecretRef` field for worker pool user data
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, area/scalability

#769 add state types to scheme
  pkg/apis/gcp/register.go
  pkg/apis/gcp/v1alpha1/register.go
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, needs/review, platform/gcp, size/xs

#748 add node template support
  docs/usage/usage.md
  example/30-worker.yaml
  hack/api-reference/api.md
  pkg/apis/gcp/types_worker.go
  pkg/apis/gcp/v1alpha1/types_worker.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/worker.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, platform/gcp, size/s
