Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2024-04, with the labels that each got.

#719 update csi images
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/s

#715 flow improvements
  .ci/testruns/default/templates/testrun.yaml
  .golangci.yaml
  .test-defs/infrastructure-test.yaml
  Makefile
  hack/api-reference/api.md
  pkg/apis/gcp/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_restore.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/controller/infrastructure/infraflow/ensure_utils.go
  pkg/controller/infrastructure/infraflow/flowstate.go
  pkg/controller/infrastructure/infraflow/graph.go
  pkg/controller/infrastructure/infraflow/identifiers.go
  pkg/controller/infrastructure/infraflow/reconciler.go
  pkg/controller/infrastructure/infraflow/shared/basic_context.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/extras.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard.go
  pkg/controller/infrastructure/strategyselector.go
  pkg/controller/infrastructure/strategyselector_test.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/iam.go
  pkg/gcp/client/mock/mocks.go
  pkg/gcp/client/types.go
  pkg/gcp/client/updater.go
  pkg/gcp/types.go
  pkg/webhook/infrastructure/mutator.go
  pkg/webhook/infrastructure/mutator_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, needs/second-opinion, platform/gcp, size/xl

#729 add flow maintenance test
  .test-defs/apply-flow-gcp.yaml
  .test-defs/infrastructure-test.yaml
  test/tm/apply_flow/maintain_test.go
  test/tm/apply_flow/shoot_maintain_suite_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/s, area/testing

#735 log infra mutation
  pkg/webhook/infrastructure/mutator.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#737 update gomod
  go.mod
  go.sum
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#739 fix flow test folder
  .test-defs/apply-flow-gcp.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/gcp, size/xs

#736 Extend volume validation
  example/30-worker.yaml
  pkg/apis/gcp/validation/shoot.go
  pkg/apis/gcp/validation/shoot_test.go
  pkg/apis/gcp/validation/worker.go
  pkg/apis/gcp/validation/worker_test.go
  pkg/controller/worker/machines.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m
