Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2024-09, with the labels that each got.

#831 Be more precise when updating firewall rules
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/gcp/client/client_suite_test.go
  pkg/gcp/client/updater.go
  pkg/gcp/client/updater_utils.go
  pkg/gcp/client/updater_utils_test.go
Labels: area/monitoring, area/quality, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m

#834 don't set soft-delete for gcp buckets
  pkg/gcp/client/storage.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#835 Unify gcp clients
  charts/charts.go
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/bastion_suite_test.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/mock/mocks.go
  pkg/internal/client/client.go
  pkg/internal/client/types.go
  pkg/internal/infrastructure/infrastructure.go
  pkg/internal/infrastructure/infrastructure_test.go
  pkg/internal/mock/client/doc.go
  pkg/internal/mock/client/mocks.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xl

#842 Update CCM for k8s 1.31
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  imagevector/images.yaml
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs
