Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-10, with the labels that each got.

#1188 Clean up MCM RBAC resource migrations
  cmd/gardener-extension-provider-gcp/app/app.go
  cmd/gardener-extension-provider-gcp/app/migrations.go
Labels: area/security, kind/cleanup, needs/ok-to-test, platform/aws, platform/gcp, reviewed/lgtm, size/s

#1186 GHA: fix release secret
  .github/workflows/release.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#1193 chore(vpa): Update the extension `VPA` update mode to `Recreate`
  charts/gardener-extension-admission-gcp/charts/runtime/values.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-filestore-controller/templates/csi-driver-filestore-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/ingress-gce/templates/vpa.yaml
  example/controller-registration.yaml
Labels: kind/cleanup, needs/ok-to-test, needs/review, size/xs, area/auto-scaling

#1197 Provide configuration for `google-guest-agent`
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  pkg/webhook/controlplane/templates/google-guest-agent.service
  pkg/webhook/controlplane/templates/instance_configs.cfg
Labels: area/networking, kind/bug, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m
