Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-03, with the labels that each got.

#981 Revert "update csi-driver version to v1.16.1 (#980)"
  imagevector/images.yaml
Labels: platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#984 update default backend
  imagevector/images.yaml
Labels: platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#985 fix an issue where wrong firewall rules wrongfully deleted
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/controller/infrastructure/infraflow/firewall.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/gcp, size/xs

#986 remove dual-stack field from hash
  pkg/controller/worker/machines.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/ipcei

#987 Pass worker pool priority to MachineDeployment during generation
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/enhancement, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#988 fix flow log and log config dependency
  pkg/gcp/client/updater.go
Labels: area/networking, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#991 fix broken param in ccm for k8s <= 1.30
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: area/control-plane, kind/bug, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#992 fix ident in ccm chart
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: kind/bug, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#994 enable kcm ipam for <= 1.30
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/gcp, size/xs

#999 Restrict dual-stack clusters on GCP to Kubernetes v1.31 and above.
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/gcp/validation/shoot.go
  pkg/apis/gcp/validation/shoot_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#1003 Replaced shortcodes
  docs/tutorials/kubernetes-cluster-on-gcp-with-gardener/kubernetes-cluster-on-gcp-with-gardener.md
Labels: area/documentation, kind/enhancement, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#1002 Enhance GCP BackupBucket with Lifecycle Management for Delayed Deletion of Immutable Objects
  go.mod
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/actuator_test.go
  pkg/gcp/client/errors.go
  pkg/gcp/client/storage.go
Labels: kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/l, area/control-plane-migration

#1005 fix an issue with slow storage client creation
  pkg/gcp/client/compute.go
  pkg/gcp/client/dns.go
  pkg/gcp/client/factory.go
  pkg/gcp/client/iam.go
  pkg/gcp/client/storage.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#990 Add CCM entry for Kubernetes v1.32
  imagevector/images.yaml
Labels: area/open-source, area/usability, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1011 Allow admission to get workloadidentities
  charts/gardener-extension-admission-gcp/charts/application/templates/rbac.yaml
Labels: area/security, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1013 [release-v1.43] Automated cherry pick of #1011: Allow admission to get workloadidentities
  charts/gardener-extension-admission-gcp/charts/application/templates/rbac.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#1015 fix an issue with http-backend image reference
  charts/internal/shoot-system-components/charts/default-http-backend/templates/default-http-backend.yaml
  imagevector/images.yaml
  pkg/gcp/types.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/gcp, size/xs

#1016 [release-v1.43] Automated cherry pick of #1015: fix an issue with http-backend image reference
  charts/internal/shoot-system-components/charts/default-http-backend/templates/default-http-backend.yaml
  imagevector/images.yaml
  pkg/gcp/types.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs

#1008 extension chart: Improve if/else condition statements
  charts/gardener-extension-provider-gcp/templates/_helpers.tpl
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  charts/gardener-extension-provider-gcp/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-gcp/templates/rbac.yaml
  charts/gardener-extension-provider-gcp/templates/service.yaml
  example/controller-registration.yaml
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s
