Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-01, with the labels that each got.

#936 Disable --allocate-node-cidrs in `kube-controller-manager` for kubernetes >= v1.31.
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, area/networking, area/robustness, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#942 Use Subresource to mutate NamespacedCloudProfile status
  pkg/admission/mutator/webhook.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, platform/gcp, size/xs

#932 Fix CloudProfile MachineImages validation
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/admission/validator/namespacedcloudprofile_test.go
  pkg/apis/gcp/validation/cloudprofile.go
  pkg/apis/gcp/validation/cloudprofile_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m

#941 Rename to `seedprovider` webhook
  cmd/gardener-extension-provider-gcp/app/app.go
  pkg/cmd/options.go
  pkg/webhook/seedprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer_test.go
  pkg/webhook/seedprovider/webhook.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#889 Support extended resources in providerConfig.nodeTemplate, inherit core resources from pool.nodeTemplate
  pkg/apis/gcp/validation/worker.go
  pkg/apis/gcp/validation/worker_test.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/helper.go
  pkg/controller/worker/machine_dependencies.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, platform/gcp, size/m, area/auto-scaling

#912 csi-driver-node: enable readOnlyRootFilesystem
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
Labels: area/robustness, area/security, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#953 fix issue with list route filter not applied
  pkg/gcp/client/compute.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#954 Fix ccm ipam node cidr
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#955 [release-v1.42] Automated cherry pick of #954: Fix ccm ipam node cidr
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/s
