Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-06, with the labels that each got.

#1012 deprecate terraformer support
  .ci/testruns/default/templates/testrun.yaml
  .test-defs/apply-flow-gcp.yaml
  .test-defs/infrastructure-test.yaml
  Makefile
  go.mod
  go.sum
  pkg/cmd/options.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_restore.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/controller/infrastructure/infraflow/infrastructure_suite_test.go
  pkg/controller/infrastructure/infraflow/kubernetes.go
  pkg/controller/infrastructure/infraflow/kubernetes_test.go
  pkg/controller/infrastructure/infraflow/reconciler.go
  pkg/controller/infrastructure/strategyselector.go
  pkg/controller/infrastructure/strategyselector_test.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/gcp/types.go
  pkg/internal/infrastructure/template.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/templates/terraform.tfvars
  pkg/internal/infrastructure/templates/variables.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/internal/terraform.go
  pkg/webhook/infrastructure/add.go
  pkg/webhook/infrastructure/mutator.go
  pkg/webhook/infrastructure/mutator_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/tm/apply_flow/maintain_test.go
Labels: area/control-plane, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xl, status/closed

#1097 chore: upgrade gardener/gardener
  .ci/hack/component_descriptor
  .ci/hack/doc.go
  .ci/hack/prepare_release
  .ci/hack/set_dependency_version
  go.mod
  go.sum
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/admission/validator/seed_test.go
  pkg/apis/gcp/validation/cloudprofile.go
  pkg/controller/healthcheck/add.go
  pkg/webhook/shootservice/add.go
  pkg/webhook/shootservice/mutator.go
  pkg/webhook/shootservice/mutator_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m

#1092 Add Kubernetes 1.33 support
  README.md
  imagevector/images.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, topology/garden, topology/seed, topology/shoot, merge/squash
