Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-09, with the labels that each got.

#1155 minimum runtime rbac permissions
  charts/gardener-extension-provider-gcp/templates/rbac-runtime.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/enhancement, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1168 Add conformance test badge for Kubernetes v1.33
  README.md
Labels: reviewed/ok-to-test

#1165 Helm chart: add missing securityContext to comply with restricted PSS
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/review, platform/gcp, reviewed/ok-to-test, size/xs

#1150 Update golang version
  .github/actions/prepare-release/action.yaml
  .github/workflows/build.yaml
  .test-defs/backupbucket-test.yaml
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-gcp.yaml
  go.mod
Labels: area/quality, kind/enhancement, needs/review, platform/gcp, reviewed/ok-to-test, size/xs

#1154 Add generation for `Extension` example
  Makefile
  example/doc.go
  example/extension.yaml
  example/extension/base/extension.yaml
  example/extension/base/kustomization.yaml
  example/extension/kustomization.yaml
Labels: area/ops-productivity, kind/enhancement, needs/changes, platform/gcp, reviewed/ok-to-test, size/m

#1177 Fix runtime rbac permissions requirement
  cmd/gardener-extension-provider-gcp/app/app.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/gcp, size/xs

#1181 remove unused tf image
  imagevector/images.yaml
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, needs/review, platform/gcp, size/xs
