Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-07, with the labels that each got.

#1110 Add details in doc about immutability lock
  docs/usage/usage.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, reviewed/lgtm, size/xs

#1101 chore: fix error field
  pkg/apis/gcp/validation/worker.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1109 Add backupbucket immutability feature tests
  test/integration/backupbucket/backupbucket_test.go
  test/integration/backupbucket/helper_test.go
Labels: kind/test, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/l, area/testing

#1113 Bump cloud-controller-manager for Kubernetes 1.33
  imagevector/images.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs, merge/squash

#1095 Feature: CSI Filestore driver
  charts/internal/seed-controlplane/charts/csi-driver-filestore-controller/Chart.yaml
  charts/internal/seed-controlplane/charts/csi-driver-filestore-controller/templates/config.yaml
  charts/internal/seed-controlplane/charts/csi-driver-filestore-controller/templates/csi-driver-filestore-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-filestore-controller/templates/csi-driver-filestore-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-filestore-controller/values.yaml
  charts/internal/seed-controlplane/requirements.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-filestore-node/Chart.yaml
  charts/internal/shoot-system-components/charts/csi-driver-filestore-node/templates/clusterrole-csi-filestore-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-filestore-node/templates/clusterrolebinding-csi-filestore-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-filestore-node/templates/csidriver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-filestore-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-driver-filestore-node/templates/helpers.tpl
  charts/internal/shoot-system-components/charts/csi-driver-filestore-node/templates/serviceaccount.yaml
  charts/internal/shoot-system-components/charts/csi-driver-filestore-node/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  charts/internal/shoot-system-components/requirements.yaml
  charts/internal/shoot-system-components/values.yaml
  docs/usage/usage.md
  hack/api-reference/api.md
  imagevector/images.yaml
  pkg/admission/decode.go
  pkg/apis/gcp/types_controlplane.go
  pkg/apis/gcp/v1alpha1/types_controlplane.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/gcp/types.go
Labels: area/quality, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xl

#1112 Set user agent when creating GCP clients
  pkg/gcp/client/compute.go
  pkg/gcp/client/dns.go
  pkg/gcp/client/factory.go
  pkg/gcp/client/iam.go
  pkg/gcp/client/storage.go
Labels: kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs, area/audit-logging

#1121 migrate CICD-Pipeline to GitHub-Actions
  .ci/component_descriptor
  .ci/pipeline_definitions
  .github/actions/prepare-release/action.yaml
  .github/workflows/build.yaml
  .github/workflows/non-release.yaml
  .github/workflows/release.yaml
  .github/workflows/run-integrationtests.yaml
  .github/workflows/upgrade-dependencies.yaml
  .ocm/base-component.yaml
Labels: area/delivery, kind/technical-debt, kind/task, needs/ok-to-test, needs/review, needs/second-opinion, platform/gcp, size/l

#1124 Chore: update csi driver filestore image
  imagevector/images.yaml
Labels: area/quality, kind/enhancement, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1131 update gha for new release options
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Labels: area/delivery, kind/enhancement, needs/review, platform/gcp, reviewed/ok-to-test, size/xs

#1132 Bump github.com/gardener/gardener from v1.122.1 to v1.123.1
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  go.mod
  go.sum
  pkg/controller/controlplane/add.go
  pkg/controller/healthcheck/add.go
  test/integration/healthcheck/test.go
Labels: area/control-plane, kind/enhancement, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/m
