Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-02, with the labels that each got.

#957 Add support for k8s v1.32
  README.md
  imagevector/images.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs, topology/garden, topology/seed, topology/shoot, merge/squash

#956 Update image dependencies
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-snapshot-validation.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrolebinding-snapshot-validation.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csi-snapshot-validation-webhook.yaml
  imagevector/images.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
  pkg/gcp/types.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/task, needs/ok-to-test, needs/review, needs/second-opinion, platform/gcp, size/l, area/compliance

#967 [release-v1.42] Fix `nil` panic encountered when the `BackupBucket` immutability is switched off. (#966)
  pkg/controller/backupbucket/actuator.go
Labels: area/backup, kind/bug, needs/ok-to-test, needs/review, platform/gcp, size/xs

#855 [GEP-26] Workload Identity support
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  docs/usage/images/attribute_mapping.png
  docs/usage/usage.md
  hack/api-reference/api.md
  pkg/admission/decode.go
  pkg/admission/validator/credentialsbinding.go
  pkg/admission/validator/credentialsbinding_test.go
  pkg/admission/validator/webhook.go
  pkg/admission/validator/workloadidentity.go
  pkg/admission/validator/workloadidentity_test.go
  pkg/apis/gcp/register.go
  pkg/apis/gcp/types_workloadidentity.go
  pkg/apis/gcp/v1alpha1/register.go
  pkg/apis/gcp/v1alpha1/types_workloadidentity.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/secret.go
  pkg/apis/gcp/validation/workloadidentity.go
  pkg/apis/gcp/validation/workloadidentity_test.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/cmd/options.go
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/reconciler.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/dns.go
  pkg/gcp/client/factory.go
  pkg/gcp/client/iam.go
  pkg/gcp/client/storage.go
  pkg/gcp/credentialsconfig.go
  pkg/gcp/credentialsconfig_test.go
  pkg/gcp/serviceaccount.go
  pkg/gcp/serviceaccount_test.go
  pkg/gcp/types.go
  pkg/internal/infrastructure/infrastructure.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/internal/terraform.go
  pkg/internal/terraform_test.go
  pkg/webhook/cloudprovider/add.go
  pkg/webhook/cloudprovider/cloudprovider_suite_test.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  pkg/webhook/terraformer/add.go
  pkg/webhook/terraformer/mutator.go
  pkg/webhook/terraformer/mutator_test.go
  pkg/webhook/terraformer/terraformer_suite_test.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/security, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, platform/gcp, reviewed/lgtm, size/xl, area/ipcei

#975 Delete snapshot-validation-webhook leftovers
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/gcp/types.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#973 [GEP-26] Service Account impersonation via federated identities
  docs/usage/usage.md
  pkg/apis/gcp/validation/workloadidentity.go
  pkg/apis/gcp/validation/workloadidentity_test.go
  pkg/gcp/client/factory.go
  pkg/gcp/credentialsconfig.go
  pkg/gcp/credentialsconfig_test.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m

#972 Make extension ports configurable via helm values
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  charts/gardener-extension-provider-gcp/templates/service.yaml
  charts/gardener-extension-provider-gcp/values.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, reviewed/lgtm, size/s

#960 Forbid container privilege escalations
  charts/gardener-extension-admission-gcp/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-driver-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/compliance

#979 fix missing field from hash function
  pkg/controller/worker/machines.go
Labels: needs/ok-to-test, needs/review, platform/gcp, size/xs

#980 update csi-driver version to v1.16.1
  imagevector/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#947 Update worker doc
  docs/operations/operations.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#848 Support DualStack(IPv4+IPv6)
  Makefile
  charts/internal/cloud-provider-config/templates/cloud-provider-config-ingress-gce.yaml
  charts/internal/cloud-provider-config/values.yaml
  charts/internal/machineclass/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/ingress-gce/Chart.yaml
  charts/internal/seed-controlplane/charts/ingress-gce/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/ingress-gce/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/ingress-gce/values.yaml
  charts/internal/seed-controlplane/requirements.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-crds/charts/gke-networking-api/Chart.yaml
  charts/internal/shoot-crds/charts/gke-networking-api/templates/crd-networkparamsets.yaml
  charts/internal/shoot-crds/charts/gke-networking-api/templates/crd-networks.yaml
  charts/internal/shoot-crds/requirements.yaml
  charts/internal/shoot-crds/values.yaml
  charts/internal/shoot-system-components/charts/default-http-backend/Chart.yaml
  charts/internal/shoot-system-components/charts/default-http-backend/templates/default-http-backend.yaml
  charts/internal/shoot-system-components/charts/default-http-backend/templates/rbac.yaml
  charts/internal/shoot-system-components/charts/default-http-backend/values.yaml
  charts/internal/shoot-system-components/requirements.yaml
  charts/internal/shoot-system-components/values.yaml
  example/30-infrastructure.yaml
  go.mod
  hack/api-reference/api.md
  imagevector/images.yaml
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/gcp/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/shoot.go
  pkg/apis/gcp/validation/shoot_test.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/controller/infrastructure/infraflow/ensure_utils.go
  pkg/controller/infrastructure/infraflow/firewall.go
  pkg/controller/infrastructure/infraflow/graph.go
  pkg/controller/infrastructure/infraflow/reconciler.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/controller/worker/helper.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/mock/mocks.go
  pkg/gcp/client/updater.go
  pkg/gcp/types.go
  pkg/internal/types.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/networking, kind/api-change, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xl

#923 add dualstack support documentation
  docs/usage/ipv6.md
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m, area/ipcei
