Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-08, with the labels that each got.

#1138 increase node sync workers
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1137 Update the regex selector for the unused MCM RBAC resources
  cmd/gardener-extension-provider-gcp/app/migrations.go
Labels: kind/bug, kind/cleanup, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/compliance

#1136 remove obsolete TF resources
  Makefile
  cmd/gardener-extension-provider-gcp/app/app.go
  cmd/gardener-extension-provider-gcp/app/migrations.go
Labels: area/control-plane, kind/enhancement, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#1142 `chore`: Upgrade go.mod dependencies
  go.mod
  go.sum
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/enhancement, needs/review, needs/second-opinion, platform/gcp, reviewed/ok-to-test, size/xl
