Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-04, with the labels that each got.

#1014 update ipv6 documentation and add dual-stack migration part
  docs/usage/ipv6.md
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/m, area/ipcei

#949 Use ServiceTrafficDistribution to make Services topology-aware when runtime Kubernetes >= 1.31
  charts/gardener-extension-admission-gcp/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-gcp/templates/service.yaml
  example/controller-registration.yaml
Labels: area/high-availability, area/networking, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1028 Switch Slack references to Gardener workspace
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#1031 Update base image to `debian12`
  Dockerfile
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#1042 Vendor `gardener/gardener` to `v1.117.0`
  .github/ISSUE_TEMPLATE/support.md
  .golangci.yaml
  charts/gardener-extension-provider-gcp/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-gcp/templates/rbac.yaml
  cmd/gardener-extension-provider-gcp/app/app.go
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  example/controller-registration.yaml
  example/doc.go
  go.mod
  go.sum
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/gcp/client/updater.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer_test.go
  pkg/webhook/seedprovider/webhook.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/open-source, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/xl

#1001 Automatically enable new load balancers for dual-stack in dual-stack clusters.
  pkg/cmd/options.go
  pkg/webhook/shootservice/add.go
  pkg/webhook/shootservice/add_test.go
  pkg/webhook/shootservice/mutator.go
  pkg/webhook/shootservice/mutator_test.go
  pkg/webhook/shootservice/shoot_service_suite_test.go
Labels: needs/ok-to-test, reviewed/lgtm

#1044 chore: Add user error
  pkg/apis/gcp/helper/error_codes.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#1045 Chore: extend golangci yaml
  .golangci.yaml
  cmd/gardener-extension-admission-gcp/main.go
  cmd/gardener-extension-provider-gcp/app/app.go
  cmd/gardener-extension-provider-gcp/main.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/validator/workloadidentity_test.go
  pkg/apis/gcp/v1alpha1/defaults_test.go
  pkg/apis/gcp/validation/cloudprofile.go
  pkg/apis/gcp/validation/infrastructure.go
  pkg/controller/bastion/bastion_suite_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/infraflow/reconciler.go
  pkg/controller/infrastructure/infraflow/shared/basic_context.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/tf_state_test.go
  pkg/controller/infrastructure/strategyselector.go
  pkg/controller/infrastructure/strategyselector_test.go
  pkg/controller/worker/machines.go
  pkg/gcp/client/factory.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/webhook/controlplane/ensurer_test.go
  pkg/webhook/infrastructure/mutator_test.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/m

#1032 Cleanup TODOs related to legacy monitoring configuration
  charts/gardener-extension-provider-gcp/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/monitoring, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s

#989 Remove wildcard RBAC resources
  charts/gardener-extension-provider-gcp/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-gcp/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/s, area/compliance
