Repository gardener/gardener-extension-provider-gcp, pull requests merged in 2025-05, with the labels that each got.

#1052 Remove `podAntiAffinity` in favor of TSCs.
  charts/gardener-extension-provider-gcp/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/dev-productivity, area/high-availability, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#1063 [release-v1.43] Automated cherry pick of #1053: [ci:component:github.com/gardener/machine-controller-manager-provider-gcp:v0.22.0->v0.24.0]
  imagevector/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#1062 Update CSI driver
  imagevector/images.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#1061 Improve validation of credential configs
  charts/gardener-extension-admission-gcp/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-gcp/charts/runtime/values.yaml
  cmd/gardener-extension-admission-gcp/app/app.go
  docs/usage/usage.md
  pkg/admission/cmd/options.go
  pkg/admission/validator/credentialsbinding.go
  pkg/admission/validator/credentialsbinding_test.go
  pkg/admission/validator/secretbinding_test.go
  pkg/admission/validator/webhook.go
  pkg/admission/validator/workloadidentity.go
  pkg/admission/validator/workloadidentity_test.go
  pkg/apis/config/types.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/secret.go
  pkg/apis/gcp/validation/secret_test.go
  pkg/apis/gcp/validation/workloadidentity.go
  pkg/apis/gcp/validation/workloadidentity_test.go
  pkg/gcp/client/factory.go
  pkg/gcp/credentialsconfig_test.go
Labels: area/quality, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/l

#1010 add ipv4 to dual stack migration
  docs/usage/ipv6.md
  hack/api-reference/api.md
  pkg/apis/gcp/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/types_infrastructure.go
  pkg/apis/gcp/v1alpha1/zz_generated.conversion.go
  pkg/apis/gcp/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/gcp/validation/shoot.go
  pkg/apis/gcp/zz_generated.deepcopy.go
  pkg/controller/infrastructure/infraflow/ensure.go
  pkg/controller/infrastructure/infraflow/ensure_utils.go
  pkg/controller/infrastructure/infraflow/graph.go
  pkg/controller/infrastructure/infraflow/reconciler.go
  pkg/gcp/client/compute.go
  pkg/gcp/client/mock/mocks.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/l, area/ipcei

#1068 Clean up leaked csi-snapshot-validation VerticalPodAutoscaler and PodDisruptionBudget
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, needs/review, platform/gcp, size/xs

#1065 Clarify validation of workload identity config
  pkg/apis/gcp/validation/workloadidentity.go
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs

#1066 Fix workerPoolHashDataV2
  docs/operations/operations.md
  pkg/controller/worker/machines.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/ok-to-test, reviewed/lgtm, size/s

#1073 Integration test resource limits
  .test-defs/apply-flow-gcp.yaml
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-gcp.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, platform/gcp, size/xs, area/testing

#1074 Rm dataVolumes.encrypted from hashv2
  docs/operations/operations.md
  docs/usage/usage.md
  pkg/controller/worker/machines.go
Labels: area/documentation, kind/cleanup, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs

#1075 add missing list rbac for vpa
  charts/gardener-extension-provider-gcp/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/regression, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs
